/*==================================
=====   Variable Declaration   =====
==================================*/
:root {
  --bg: hsl(0, 100%, 100%);
  --bg-i: hsl(0, 100%, 0%);

  --accent: hsl(200, 100%, 50%);
  --acc1: hsla(200, 100%, 60%, 0.75);
  --acc2: hsla(200, 100%, 60%, 0.5);
  --acc3: hsla(200, 100%, 60%, 0.25);

  --bg1: hsla(0, 0%, 100%, 0.8);
  --bg2: hsla(0, 0%, 100%, 0.6);
  --bg3: hsla(0, 0%, 100%, 0.4);
  --bg4: hsla(0, 0%, 100%, 0.2);

  --txt1: hsl(0, 0%, 0%);
  --txt2: hsl(0, 0%, 20%);
  --txt3: hsl(0, 0%, 40%);
}

body.dark {
  --bg: hsl(0, 100%, 0%);
  --bg-i: hsl(0, 100%, 100%);

  --accent: hsl(200, 100%, 50%);
  --acc1: hsla(200, 100%, 40%, 0.75);
  --acc2: hsla(200, 100%, 40%, 0.5);
  --acc3: hsla(200, 100%, 40%, 0.25);

  --bg1: hsla(0, 0%, 0%, 0.8);
  --bg2: hsla(0, 0%, 0%, 0.6);
  --bg3: hsla(0, 0%, 0%, 0.4);
  --bg4: hsla(0, 0%, 0%, 0.2);

  --txt1: hsl(0, 0%, 0%);
  --txt2: hsl(0, 0%, 20%);
  --txt3: hsl(0, 0%, 40%);
}

/*==========================
=====   BODY styling   =====
==========================*/

body {
  background-color: var(--bg);

  font-family: sans-serif;
}

/*=====================
=====   GENERAL   =====
=====================*/

* {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0ms;
}

/*============================
=====   NAVBAR Styling   =====
============================*/

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  background-color: var(--bg1);
  color: var(--accent);

  max-width: 1000px;
  max-height: 50px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon-box {
  background-color: white;
  width: 40px;
}

.nav-icon {
  width: 40px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-btn {
  background-color: white;

  width: 80px;
  height: 40px;

  border: none;
}
