/*==================================
=====   Variable Declaration   =====
==================================*/
:root {
  --bg: hsl(0, 100%, 100%);
  --bg-i: hsl(0, 100%, 0%);

  --accent: hsl(200, 100%, 50%);

  --bg1: hsla(200, 100%, 60%, 0.8);
  --bg2: hsla(200, 100%, 60%, 0.6);
  --bg3: hsla(200, 100%, 60%, 0.4);
  --bg4: hsla(200, 100%, 60%, 0.2);

  --txt1: hsl(0, 0%, 0%);
  --txt2: hsl(0, 0%, 20%);
  --txt3: hsl(0, 0%, 40%);
}

body.dark {
  --bg: hsl(0, 100%, 0%);
  --bg-i: hsl(0, 100%, 100%);

  --accent: hsl(200, 100%, 50%);

  --bg1: hsla(200, 100%, 40%, 0.8);
  --bg2: hsla(200, 100%, 40%, 0.6);
  --bg3: hsla(200, 100%, 40%, 0.4);
  --bg4: hsla(200, 100%, 40%, 0.2);

  --txt1: hsl(0, 0%, 0%);
  --txt2: hsl(0, 0%, 20%);
  --txt3: hsl(0, 0%, 40%);
}

/*==========================
=====   BODY styling   =====
==========================*/

body {
  background-color: var(--bg);

  font-family: sans-serif;
}

/*=====================
=====   GENERAL   =====
=====================*/

* {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0ms;
}
