/*==================================
=====   Variable Declaration   =====
==================================*/
:root {
  --bg: hsl(0, 100%, 100%);
  --bg-i: hsl(0, 100%, 0%);

  --bg1: hsla(0, 100%, 100%, 1);
  --bg2: hsla(0, 100%, 100%, 1);
  --bg3: hsla(0, 100%, 100%, 1);
  --bg4: hsla(0, 100%, 100%, 1);

  --txt1: hsl(0, 100%, 0%);
  --txt2: hsl(0, 100%, 0%);
  --txt3: hsl(0, 100%, 0%);
}

body.dark {
  --bg: hsl(0, 100%, 100%);
  --bg-i: hsl(0, 100%, 0%);

  --bg1: hsla(0, 100%, 100%, 1);
  --bg2: hsla(0, 100%, 100%, 1);
  --bg3: hsla(0, 100%, 100%, 1);
  --bg4: hsla(0, 100%, 100%, 1);

  --txt1: hsl(0, 100%, 0%);
  --txt2: hsl(0, 100%, 0%);
  --txt3: hsl(0, 100%, 0%);
}

/*==========================
=====   BODY styling   =====
==========================*/

body {
  background-color: var(--bg);

  font-family: sans-serif;
}
